<section class="Educacion">
    <h1><b>Educación</b></h1>
  
      <div>
        <img src="https://imagizer.imageshack.com/img923/2374/yqn2jQ.png" class="img1">
        <p class="desc1">
          <b>Título:</b> Bachillerato con orientación en Ciencias Naturales <br>
          <b>Escuela:</b> E.E.S N°4  <br>
          <b>Año de Finalización:</b> 2014 <br>
          <b>Promedio:</b> 7.35 <br>
        </p>
      </div>
      <div>
        <img src="https://imagizer.imageshack.com/img922/4432/uhZgah.png" class="img2">
        <p class="desc2">
          <b>Título:</b> Diseño Grafico nivel I <br>
          <b>Escuela:</b> C.F.L 401 <br>
          <b>Año de Finalización:</b> 2015 <br>
          <b>Promedio:</b> 10 <br>
        </p>
      </div>			
      <div>
        <img src="https://imagizer.imageshack.com/v2/70x70q90/c/922/KrUxvM.png" class="img3">
        <p class="desc3">
          <b>Título:</b> Aramdo y reparación de PC <br>
          <b>Escuela:</b> I.A.C San Pedro <br>
          <b>Año de Finalización:</b> 2008 <br>
          <b>Promedio:</b> 10 <br>
        </p>
      </div>			
      <div>
        <img src="https://imagizer.imageshack.com/v2/70x70q90/c/924/BgDphn.png" class="img4">
        <p class="desc4">
          <b>Título:</b> Curso de fibra de vidrio<br>
          <b>Escuela:</b> I.N.T.A San Pedro<br>
          <b>Año de Finalización:</b> 2014<br>
          <b>Promedio:</b> 8<br>
        </p>
      </div>			
      <div>
        <img src="https://imageshack.com/i/pmoBYKvop" class="img5">
        <p class="desc5">
          <b>Título:</b> #SeProgramar<br>
          <b>Escuela:</b> INTI/Desarrollo de productividad de la nación<br>
          <b>Año de Finalización:</b> 2021<br>
          <b>Promedio:</b> 8<br>
        </p>
      </div>			
      <div>
        <img src="https://imageshack.com/i/pmoBYKvop" class="img6">
        <p class="desc6">
          <b>Título:</b> #YoProgramo<br>
          <b>Escuela:</b> INTI/Desarrollo de productividad de la nación<br>
          <b>Año de Finalización:</b> 2022<br>
          <b>Promedio:</b> 9.5<br>
        </p>
      </div>	  
  </section>
  <br>
  <br>
  <hr>