<div class="row">
  <h1>Educacion</h1>
  
  <div class="col-lg-2">
      <button type="button" class="btn4" routerLink="/nuevaedu" *ngIf="isLogged">
          Agregar Educacion           
      </button>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
  </div>

  <div class="col lg 1"></div>
  <div class="col-lg-11">
      <table class="table">
          <tbody>
              <tr *ngFor="let Educacion of educacion">
                  <td>
                      <h1 class="Experiencia">{{Educacion.nombreE}}:</h1>
                  </td>
                  <td>
                      <h1 class="descripcion">{{Educacion.descripcionE}}</h1></td>
                  <td *ngIf="isLogged">
                      <button class="btn1" routerLink="/editedu/{{Educacion.id}}">
                          <i class="bi bi-pencil-fill"></i> EDITAR</button>
                  </td>
                  <td *ngIf="isLogged">
                      <button class="btn2" (click)="borrar(Educacion.id)">
                          <i class="bi bi-trash-fill"></i> BORRAR</button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
<br>
<br>
<hr>