<header>		
    <section class="header">
            <nav class="navegador">
            <ul>
            <a href="https://argentinaprograma.inti.gob.ar/"><img src="https://imageshack.com/i/pmoBYKvop" class="Aprograma"></a> <b class="APText">Argentina Programa - #YoProgramo</b>
            <button type="btn" class="btn3" (click)="login()" *ngIf="!isLogged"> INGRESO </button> 
            <button class type="btn" class="btn3" (click)="onLogOut()" *ngIf="isLogged"> CERRAR SESION </button>
            <a href="https://facebook.com/matiscoponi"><img src="https://imageshack.com/i/pmEwVazRp" class="Fbook"></a>
            <a href="https://www.instagram.com/scoponimaatu/"><img src="https://imageshack.com/i/pooCOtkNp" class="Igram"></a>
            <a href="https://api.whatsapp.com/send?phone=3329405500&text=Whatsapp%20Matias%20Scoponi"><img src="https://imagizer.imageshack.com/img924/1887/vCExyP.png" class="Wpp"></a>
            
          </ul>
        </nav>
      <div id="Profile-Background"> <img src="https://imageshack.com/i/pmM577pUj" class="portada"></div>
      <div class="Profile-picture"> <img src="https://imagizer.imageshack.com/img923/5383/ASxeYa.png" class="pic123"></div>
      <h2 class="Nombre1">{{persona.nombre}} {{persona.apellido}}</h2>
      <div>
        <p class="Boxtext1"><b>Sobre mi</b><br>
          <br>
          Facilidad para trabajo en equipo en oficina y campo,facilidad de aprendizaje ,dinamico y proactivo. Estoy dispuesto siempre a aprender y a cumplir mis objetivos en la parte personal y laboral.</p>
      </div>
    </section>
  </header>
  <br>
<br>
<hr>
