<header>		
    <section class="header">
            <nav class="navegador">
            <ul>
            <a href="https://argentinaprograma.inti.gob.ar/"><img src="https://imageshack.com/i/pmoBYKvop" class="Aprograma"></a> <b class="APText">Argentina Programa - #YoProgramo</b>
            <a routerLink="login" aria-current="page"><img src="https://imagizer.imageshack.com/img922/6071/iZqxyS.png" class="Iboton"></a>
            <a href="https://facebook.com/matiscoponi"><img src="https://imageshack.com/i/pmEwVazRp" class="Fbook"></a>
            <a href="https://instagram.com/matuscoponi"><img src="https://imageshack.com/i/pooCOtkNp" class="Igram"></a>
            <a href="https://api.whatsapp.com/send?phone=3329405500&text=Whatsapp%20Matias%20Scoponi"><img src="https://imagizer.imageshack.com/img924/1887/vCExyP.png" class="Wpp"></a>
            
          </ul>
        </nav>
      <div id="Profile-Background"> <img src="https://imageshack.com/i/pmM577pUj" class="portada"></div>
      <div class="Profile-picture"> <img src="https://imagizer.imageshack.com/img923/5383/ASxeYa.png" class="pic123"></div>
      <h2 class="Nombre1">{{miPortfolio.name}}</h2>
      <div>
        <p class="Boxtext1"><b>Desarrollador Web Fullstack JR</b><br>
         Soy desarrollador web FullStack JR. Me destaco con la programación en Javascript,CSS y html también tengo conocimientos en Github, Angular, MySQL, java entre otros</p>
      </div>
    </section>
  </header>
  <br>
<br>
<hr>
