.row{
    padding: 10px;
}

.Experiencia{
    font-size: 25px;
    background-color: rgb(130, 130, 233);
    color: white;
    
}

.descripcion{
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.button1{
    background-color: #f44336;
}