<section class="HardSoftySkills">
    <h1><b>Hard Soft y Skills</b></h1>
    <div>
      <img src="https://imagizer.imageshack.com/img924/8974/rvCQP8.png" class="hss1"><b class="ht1">Javascript</b><img src="https://imagizer.imageshack.com/img924/8974/rvCQP8.png" class="hss2"><b class="ht2">HTML</b>
      <img src="https://imagizer.imageshack.com/img924/8974/rvCQP8.png" class="hss3"><b class="ht3">CSS       </b><img src="https://imagizer.imageshack.com/img924/8974/rvCQP8.png" class="hss4"><b class="ht4">Ingles</b><br>
      <img src="https://imagizer.imageshack.com/img924/8974/rvCQP8.png" class="hss5"><b class="ht5">JAVA</b><img src="https://imagizer.imageshack.com/img924/8974/rvCQP8.png" class="hss6"><b class="ht6">MySQL</b>

<br>
<br>
<br>
<hr>