<div class="wrapper">
	<div class="logo">
		<img src="https://i.postimg.cc/sgJZv5Kg/180338585-270755124757118-1799024882310340726-n-modified.png" alt="">
	</div>
	<div class="text-center mt-4 name">
<br>
	</div>
	<form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

		<div class="form-field d-flex align-items-center">
			<span class="far fa-user"></span>
			<input type="text" name="nombreUsuario" id="nombreUsuario"  placeholder="Usuario" [(ngModel)]="nombreUsuario" required />
		</div>
		<div class="form-field d-flex align-items-center">
			<span class="fas fa-key"></span>
			<input type="password" name="password" id="password" placeholder="Contraseña" [(ngModel)]="password" required />
		</div>
		<button class="btn mt-3">Ingresa</button>
	</form>
	<div class="text-center fs-6">
	 <br>
		<a href="#">Registrate</a>
	</div>
</div>